@import "body";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import "variables";
@import "reset";
@import "login";
@import "notifications";
@import "chat";

* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

html {
  height: 100%;
}
